# This is really to keep out prying eyes. Since we're specifying dav in the path to download, it's the account password used, not the .htpasswd  password.




AuthUserFile /home/gigliwood.com/public_html/ical/.htpasswd
AuthGroupFile /dev/null
AuthName EnterPassword
AuthType Basic

require user gigliwood


